/* Css Reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styles */


/* General Styles */

*{
	box-sizing: border-box;
}

.body{
	font-family: 'Poppins', sans-serif;
}

.header-container{
	max-width: 1200px;
	margin: 0 100px;
}

.container{
	margin: 0 165px;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
	text-decoration: none;
}

.btn{
	padding: 15px 30px;
	border-radius: 4px;
	text-transform: uppercase;
	display: inline-block;
}

.btn-fill{
    border: none;
    background: rgb(255, 107, 107);
    color: white;
	font-weight: 600;
	margin-left: 50px;
}

.btn-hollow{
    border:solid 2px rgb(255, 107, 107);
    color: rgb(255, 107, 107);
	font-weight: 600;
	margin-left: 50px;
}

/* Specific Styles */

.upper-header{
	color: white;
	padding: 20px 0;
	background: darkblue;

}

.upper-header a{
	color: white;
}

.upper-header span{
	font-weight: 600;
}

.left-nav div{
	margin-right:50px;
}

.left-nav i{
	margin-right: 5px;
}

.right-nav a{
	margin-left: 12px;
}

.lower-header{
	padding:30px 0;
}

.right-links-pure-li a{
	margin-left:15px;
	font-weight: 700;
	text-transform: uppercase;
	color: darkblue;
}

.hero-section{
	/* background: rgb(255, 202, 202); */
	background: url("../media/hero/h1_hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-text {
	width: 35%;
	text-transform: uppercase;
	padding: 120px 0;
}

.hero-text p{
	color: rgb(255, 107, 107);
	font-weight: 600;
	margin-bottom: 20px;
}

.hero-text h1 {
	color: darkblue;
	font-size: 55px;
	font-weight: 900;
}

.hero-text a{
	margin: 40px 0;
}